// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;


@font-face {
    font-family: "Roboto";
     font-weight: 4 00;
      font-style: normal;
      src: local("Roboto"), url("/home/eva/fonts/Roboto/Roboto-Regular.ttf") format("ttf");
    }
    